*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    min-width: 1450px;
}
#top{
    width: 1350px;
    margin: 30px auto;
}
#top h1{
    float: left;
    transform: translate(180%, 0);
}
#top ul{
    float: right;
}
#top ul li{
    float: left;
    padding: 0 5px;
}
#top ul li a:hover{
color: white;
background: black;
padding: 10px;
}
#header{
    width: 1350px;
    height: 124px;
    margin: auto;
    clear: both;
}
#header ul li{
    float: left;
    padding:  50px 99px 0;
}
#header ul li a{
    font-weight: bold;
    font-size: 20px;
    display: block;
}
#header li a:hover{color:#f16136;}
.solid{width:100%;
		margin:auto;
		margin-top:20px;
		height:5px;
		background:#f16136;
		visibility:hidden;
		opacity:0;
		transform:scaleX(0);
		transition-property:opacity, transform;
		transition-duration:0.5s;}
#header li a:hover .solid{transform:scaleX(1);
						opacity:1;
						visibility:visible;}

#footer{
    clear: both;
    background: #333;
    height: 200px;
    color: white;
    line-height: 30px;
}
#footer_inner{
    width: 1350px;
    margin: auto;
    padding-top: 30px;

}
#footer h1{
    float: left;
    padding-right: 100px;
}
#footer #box{
    float: left;
}
#footer ul li{
    float:left;
    padding: 0 10px;
}
#footer ul li a{
    color: white;
}
#footer p{
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
}
/*ν—¤λ”, ν‘Έν„°*/
 
 .button{
    transition:all 0.5s;
			position:fixed;
			right:30px;
			bottom:50px;
			background:black;
			border-radius:50%;
            z-index: 10;
            }
		.button:hover{
            transform:translateY(-5px);
			box-shadow:5px 5px 10px rgba(0,0,0,0.3)
            }
		.button a{
            display:inline-block;
			padding:15px 0;
			text-align:center;
			width:51px;
			color:#fff;
            }

            
#mg{
   
    margin-bottom: 100px;
   
 }
 #mg_inner{
     margin: auto;   
 }
 #mg img{
     width: 100%;
 }
 #list_inner{
     width: 1350px;
     margin: auto;
     height: 130px;
       
 }
 #list li{
     float: left;     
     padding: 0 42px;
    box-sizing: border-box;
 }
  #list li a{
      font-size: 20px;
      color: coral;
      font-weight: bold;
      border: coral 1px solid;
      padding: 20px 150px;
  }
  #goods{
      width: 1350px;
      margin: auto;
       text-align: right;
 
  }
#goods #sort{
    padding: 10px;
    font-size: 15px;
}

#menu_inner{
    width: 1350px;
    margin: auto;
    margin-top: 50px;
}

#menu #contents dl{
    float: left;
    box-sizing: border-box;
    padding: 0 19px;
    text-align: center;
     box-sizing: border-box;
}
 
#menu dl img{
    margin-bottom: 30px;
}
#menu .best{
    border: 1px solid black;
    width: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
#menu dl dt{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
#menu .price{
    color: orangered;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 100px;
}
#menu .ma dt{
    margin-top: 29px;
}

#menu #contents1 dl{
    float: left;
    box-sizing: border-box;
    padding: 0 19px;
    text-align: center;
    box-sizing: border-box;
}
#menu #contents2 dl{
    float: left;
    box-sizing: border-box;
    padding: 0 19px;
    text-align: center;
       box-sizing: border-box;
}